

.box {
    border: 1px solid black;
}

.box--small {
    width: 60px;
    height: 60px;
}

.box--medium {
    width: 70px;
    height: 70px;
}

.box--large {
    width: 80px;
    height: 80px;
}
.high{
    box-shadow: 10px 10px 5px #aaaaaa;
}

